/* .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menubar {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.loginButton {
    display: flex;
    align-items: center;
}

.menu {
    margin: 0 0.8em;
} */

.container {
    margin: 16px 8px 8px 8px;
    height: 100vh;
    width: 18%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    width: 80%;
    margin: 8px 0 0 25%;
}

.menubar {
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0 0 90% 25%;
}

.menu {
    margin: 10px 0;
    padding: 10px 0;
    cursor: pointer;
}

.userContainer {
    width: 100%;
    text-align: center;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8px;
}

.userImg {
    width: 25%;
    height: 25%;
    margin-left: 8px;
}

.name {
    margin: 0 0 0 65%;
    font-size: 12px;
}

.email {
    margin: 0;
    font-size: 12px;
}

.loginBtn {
    text-align: center;
}
