.projectAll {
    display: flex;
    justify-content: flex-end;
    background-color: pink;
    margin: 16px 0 16px 8px;
    padding: 12px;
    height: 40%;    
}

.createProject {
    width: 40%;
}

.text {
    font-size: 12px;
}

.newProject {
    font-weight: 650;
}

/* .newProjectBtn {
    width: 30px;
        height: 30px;
        font-size: 20px;
        color: white;
        background-color: rgb(83, 199, 245);
        border-radius: 50%;
        border: none;
        margin: 0 16px 0 0;
} */

.newProjectBtn {
    border: none;
    background-color: transparent;
    margin: 0;
    text-align: left;
    cursor: pointer;
}

.newProjectBtn:hover {
    opacity: 0.8;
}

.btnImg {
    display: inline-block;
    margin: 0 8px 0 0;
    border: none;
    background-color: rgb(83, 199, 245);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.btnText {
    font-size: 18px;
}

/* project info */
.project {
    display: flex;
    align-items: flex-end;
    /* flex-wrap: wrap; */
    width: 60%;
    height: 100%;
}